<%-include("header") -%>
    <div class="box" id="heading">


        <h1 style="color:blue">
            <%= todays_date %>
                <%= kind_of_day %>
        </h1>
        <h1 style="color:blue">To - Do List</h1>

    </div>
    <div class="box">
        <%  for(var i=0;i < content.length; i++ ){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= content[i] %>
                </p>
            </div>
            <%} %>
                <form class="item" action="/" method="POST">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button"> +</button>
                </form>
    </div>
    <%-include("footer") -%>